
#gg{
   width: 100%;
}
#gg .swiper-pagination-clickable .swiper-pagination-bullet{
    display:block;
    width: 8px;
    height: 8px;
    margin-bottom:18px;
    background-color: #505050;
    transition: transform .2s;
    cursor: pointer;
    border-radius: 50%;
    margin-left: 4px;
}
  /*分页符整体位置*/
#gg .swiper-pagination-bullets{
    padding: 0 10px;
    left: 90%;
    top: 40% !important;
}
#gg .swiper-pagination-clickable .swiper-pagination-bullet-active{
    background-color:#ffffff ;
    width: 16px;
    height: 16px;
    border: 5px solid #505050;
    margin-left: 0;
}
#gg .swiper-wrapper{    }
#gg .swiper-slide .img-responsive{
    width: 100%;
}

